// Text name (i.e. "pretty_fly_for_a_wifi")
#define WIFI_SSID "your-wifi-ssid"
#define WIFI_PASS "your-wifi-password"
// Use local hostname: System Settings → General → Sharing → Local Hostname
// or, run "ipconfig getifaddr en0"
#define MQTT_SERVER "yourhostname.local"
// Default port
#define MQTT_PORT 1883
